<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            
        </div>

        <div class="col-lg-9">
            <div class="card-body card-product border">
                <h2>{{products.name}}</h2>
                <img class="card-img-top" src="{{products.thumbnail}}">
                <p class="card-text">Price: {{products.price}}</p>
                <p class="card-text">Category: {{products.category}}</p>
                <p class="card-text">Quantity: {{products.quantity}}</p>
                <p class="card-text">Description: {{products.des}}</p>
                <a href="#" class="btn btn-primary">BUY NOW</a>
            </div>
        </div>

    </div>
</div>