<div class="mt4">
    <div class="row">

        {{#each products}}
        <div class="col-sm-6 col-lg-4" style="border border-dark">
            <div class="card-body card-product border">
                <a href="/products/{{this.slug}}">
                    <img class="card-img-top" src="{{this.thumbnail}}" alt="{{this.name}}" width="240" height="320">
                </a>
            <div class="card-body">
                <a href="/products/{{this.slug}}">
                    <h5 class="card-title">{{this.name}}</h5>
                </a>
                <p class="card-text"></p>
                <a href="/products/{{this.slug}}" class="btn btn-primary">Details</a>
            </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>